*{
  margin:0px;
}

/* HOMEPAGE */

.homepage{
  display:grid;
  place-items:center;
}

.homepage-container{
  width: 90%;
}
.map-display-container{
  display:grid;
  place-items:center;
  padding: 40px 0px;
}

.map-container{
  border:solid;
}

.map-display{
  width: 400px;
}

.map{
  border: solid;
  height: 400px;
  width: 500px;
}

.categories{
  padding-top: 30px;
  
}

.category-title{
  padding-bottom:20px;
}

.category-tiles{
  display:grid;
  grid-auto-flow: column;
}

.category-tile{
  border: solid 1px;
  width: 110px;
  border-radius: 5px;
  padding: 3px;
}

.best-deals{
  padding: 20px 0px;
}

.deal-tiles{
  display:grid;
  grid-template-columns: repeat( 6, 150px);
}

.best-deals-title{
  padding: 20px 0px; 
}

.deal-tile{
  height: 120px;
  border: 1px solid;
  width: 120px;
}

.header{
  display:flex;
  justify-content:space-between;
  padding: 20px 10px;
}

.header-links{
  display:grid;
  grid-auto-flow: column;
  place-items:center;
}

.header-link{
  width: 60px;
}
