*{
  margin:0px;
}

/* HOMEPAGE */

.homepage{
  display:grid;
  place-items:center;
}

.homepage-container{
  width: 90%;
}
.map-display-container{
  display:grid;
  place-items:center;
  padding: 40px 0px;
}

.map-container {
  height: 400px;
  }
  
.map-display{
  width: 400px;
}

.map{
  border: solid;
  height: 400px;
  width: 500px;
}

.categories{
  padding-top: 30px;
  
}

.category-title{
  padding-bottom:20px;
}

.category-tiles{
  display:grid;
  grid-auto-flow: column;
}

.category-tile{
  border: solid 1px;
  width: 110px;
  border-radius: 5px;
  padding: 3px;
}

.best-deals{
  padding: 20px 0px;
}

.deal-tiles{
  display:grid;
  grid-template-columns: repeat( 6, 150px);
}

.best-deals-title{
  padding: 20px 0px; 
}

.deal-tile{
  height: 120px;
  border: 1px solid;
  width: 120px;
}

.header{
  display:flex;
  justify-content:space-between;
  padding: 20px 10px;
}

.header-links{
  display:grid;
  grid-auto-flow: column;
  place-items:center;
}

.header-link{
  width: 60px;
}


/* CAFE DISPLAY PAGE */

.cafe-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.cafe-details {
  padding: 10px 0px;
}

.box {
  padding: 1px 10px;
  font-size: 12px;
  border-radius: 10px;
  background-color: #ed4747;
}

.cafe-details h1 {
  font-size: 36px;
}

.cafe-picture {
  display: grid;
  justify-content: right;
  grid-gap: 10px;
}

.rating img {
  width: 15px;
}

.cafe-picture img {
  height: 200px;
}

.walking-container {
  width: 80px;
}

.walking-container img {
  width: 15px;
  height: 15px;
}

.walking-container p {
  display: inline-block;
}

/* MENU */

.menu-container ul {
  display: grid;
  grid-auto-flow: column;
  list-style-type: none;
  padding-top: 20px;
  padding-left: 0px;
}

.menu-container {
  border-bottom: solid 2px var(--grey);
}

/* MENU ITEMS */

.tile-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  border-bottom: solid 2px var(--grey);

  padding: 10px;
  border: 0px 10px;
}

.top-margin {
  border-top: solid 2px var(--grey);
}

.item h2 {
  padding: 10px 0px;
}

.tile-container img {
  height: 70px;
}

.item-details {
  line-height: 25px;
}

.item-picture {
  display: grid;
  place-items: center;
  justify-content: right;
}


